# python
**/__pycache__/
*.egg-info/
*.pyc

# uv environment
__pypackages__/
uv.lock
.venv/

# pixi environments
.pixi
.DS_Store

# Outputs
results.*
**/results/
**/wifa_uq_results/
**/*_samples/
